@charset "UTF-8";
/* 初始化 */
.full {
  width: 100%;
  height: 100%;
}
html {
  -webkit-text-size-adjust: none;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 28px;
  color: #ffffff;
}
body,
div,
ul,
li,
dt,
dl,
ol,
p {
  margin: 0;
  padding: 0;
  border: none;
}
li {
  list-style: none;
}
.l {
  float: left;
}
.r {
  float: right;
}
.invisible {
  visibility: hidden;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.none {
  display: none;
}
.inline-block {
  display: inline-block;
}
.table {
  display: table;
}
.table-cell {
  display: table-cell;
}
.va-middle {
  vertical-align: middle;
}
.opacity-0 {
  opacity: 0;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
a {
  display: block;
  width: 100%;
  height: 100%;
  color: 28px;
  text-decoration: none;
}
.fs20 {
  font-size: 20px;
}
.fs24 {
  font-size: 24px;
}
.fs28 {
  font-size: 28px;
}
.fs32 {
  font-size: 32px;
}
.fs36 {
  font-size: 36px;
}
.fs40 {
  font-size: 40px;
}
.bold {
  font-weight: bold;
}
.lh40 {
  line-height: 40px;
}
.tc {
  text-align: center;
}
.border-box {
  box-sizing: border-box;
}
.margin-auto {
  margin: 0 auto;
}
body {
  font-family: '微软雅黑', Arial;
  background-color: #fff;
  height: 100%;
  color: #ffffff;
  width: 100%;
  overflow: hidden;
}
.refresh {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}
.fullmask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  position: absolute;
  z-index: 999;
}
/*pageloading*/
.pageloading {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1998;
  top: 0;
  left: 0;
  background-image: url(../img/loading.jpg);
  background-size: 100% 100%;
}
.showMsg {
  position: fixed;
  line-height: 25px;
  overflow: hidden;
  opacity: 0;
  width: 100%;
  bottom: 96px;
  z-index: 9999;
  text-align: center;
}
.showMsg .content {
  color: #eee;
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  margin: 0 auto;
  padding: 10px 30px;
  max-width: 480px;
}
.icon {
  width: 56px;
  height: 93px;
  background-image: url(../img/icon.png);
  position: absolute;
  left: 50%;
  bottom: 1%;
  margin-left: -28px;
  z-index: 100;
  -webkit-animation-name: rotateY;
  animation-name: rotateY;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
/** connecting **/
.connenting {
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.connenting .connentloading {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -75px 0 0 -75px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
}
.connenting .connentloading .spinner {
  margin: 60px auto 0;
  width: 112.5px;
  text-align: center;
}
.connenting .connentloading .spinner > div {
  width: 30px;
  height: 30px;
  background-color: #008cd7;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation-name: bouncedelay;
  animation-name: bouncedelay;
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.connenting .connentloading .spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.connenting .connentloading .spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
/*** main ***/
.main {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-perspective: 1000;
  background-image: url(../img/bg.jpg);
  background-position: center center;
  background-size: 100% 100%;
}
.child {
  background-attachment: scroll;
  background-repeat: no-repeat;
  position: absolute;
}
.swiper-container {
  overflow: hidden;
}
.swiper-slide {
  background-color: #f6f8f9;
  position: relative;
  overflow: hidden;
}
.page {
  width: 640px;
  height: 1050px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -525px 0 0 -320px;
}
img {
  position: absolute;
}
.questions .poster {
  top: 70px;
  left: 105px;
}
.questions .questionBox {
  width: 540px;
  height: 240px;
  position: absolute;
  top: 400px;
  left: 50px;
  opacity: 0;
}
.questions .questionBox .sort {
  line-height: 60px;
  color: #46018d;
}
.questions .questionBox .question {
  position: relative;
  width: 480px;
  height: 180px;
  padding: 25px 0 16px 0;
  line-height: 45px;
  margin: 0 auto;
}
.questions .questionBox .question::before {
  content: "";
  background-image: url(../img/shape1.png);
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
}
.questions .questionBox .question::after {
  content: "";
  background-image: url(../img/shape2.png);
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
}
.questions .questionBox .answers {
  width: 540px;
  height: 300px;
  text-align: center;
  position: relative;
  margin-top: 10px;
}
.questions .questionBox .answers .answer {
  width: 155px;
  height: 55px;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
  margin: 20px 7px;
  box-sizing: border-box;
  border: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}
.questions .questionBox .answers .answer.selected {
  background-color: rgba(117, 19, 228, 0.3);
}
.questions .count {
  position: absolute;
  bottom: 50px;
  right: 80px;
  width: 100px;
  line-height: 50px;
  text-align: center;
}
.result {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/bg2.jpg);
  background-size: 100% 100%;
}
.result .resultBox {
  width: 480px;
  height: 780px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -390px 0 0 -240px;
}
.result .resultBox .tle {
  color: #46018d;
  line-height: 80px;
}
.result .resultBox .desc {
  height: 700px;
  position: relative;
  padding: 25px 0 16px 0;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  text-align: justify;
  line-height: 45px;
}
.result .resultBox .desc::before {
  content: "";
  background-image: url(../img/shape1.png);
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
}
.result .resultBox .desc::after {
  content: "";
  background-image: url(../img/shape2.png);
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
}
.result .resultBox .desc dt:not(:first-child) {
  margin-top: 40px;
}
.result .resultBox .desc dd {
  box-sizing: border-box;
  margin-left: 30px;
  width: 450px;
}
.btn {
  width: 222px;
  height: 80px;
  position: absolute;
  left: 50%;
  margin-left: -111px;
  bottom: 200px;
  line-height: 80px;
  text-align: center;
  font-size: 35px;
  color: #fff;
  cursor: pointer;
  background-color: rgba(117, 19, 228, 0.3);
  border: 2px solid #fff;
  border-radius: 12px;
}
input,
select {
  width: 90%;
  padding: 0 5%;
  height: 100%;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-align: center;
  font-size: 32px;
  outline: none;
}
select {
  width: 100%;
}
.bounceBox {
  z-index: 1000;
}
.alert_layer {
  width: 100%;
  height: 100%;
  position: absolute;
}
.alert_layer .alertBox {
  width: 508px;
  height: 744px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -372px 0 0 -254px;
  background-image: url(../img/alert.png);
  overflow: hidden;
}
.alert_layer .alertBox.none {
  display: none;
}
.alert_layer .alertBox .close {
  width: 350px;
  height: 70px;
  position: absolute;
  bottom: 100px;
  left: 73px;
}
.alert_layer .alertBox .contentBox {
  display: table;
  width: 440px;
  height: 280px;
  margin: 282px 0 0 30px;
}
.alert_layer .alertBox .table-cell {
  display: table-cell;
  vertical-align: middle;
  color: #005d8e;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
}
.alert_layer .alertBox .table-cell p {
  font-size: 38px;
  line-height: 75px;
}
.alert_layer .alertBox .lucky {
  bottom: 24px;
  left: 159px;
  color: #000;
  font-size: 28px;
}
/*----------animation------------*/
/*------- animation-duration  ------*/
.animated.bounceIn,
.animated.bounceOut,
.animated.fadeInDown,
.animated.fadeOutUp {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.animated.bounceInDown {
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}
.active .tle {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}
.active .seven {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}
.active .tree {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}
.active .man {
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}
.bounceBox.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.bounceBox.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/*----------keyframes------------*/
@-webkit-keyframes arrowInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 20px);
  }
  70% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, -25px);
  }
}
@keyframes arrowInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 20px);
  }
  70% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, -25px);
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}
@keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -80px);
    transform: translate(0, -80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -80px);
    transform: translate(0, -80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, -80px);
    transform: translate(0, -80px);
  }
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, -80px);
    transform: translate(0, -80px);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
@-webkit-keyframes rotateY {
  0% {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-360deg);
    -webkit-transform: rotateY(-360deg);
  }
}
@keyframes rotateY {
  0% {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-360deg);
    -webkit-transform: rotateY(-360deg);
  }
}
@-webkit-keyframes flash {
  0%,
  15%,
  30%,
  45%,
  60%,
  100% {
    opacity: 1;
  }
  16%,
  29%,
  46%,
  59% {
    opacity: 0;
  }
}
@keyframes flash {
  0%,
  15%,
  30%,
  45%,
  60%,
  100% {
    opacity: 1;
  }
  16%,
  29%,
  46%,
  59% {
    opacity: 0;
  }
}
.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}
