@charset "UTF-8";
/* 初始化 */
@fs: 28px;
@designWidth: 640px;
@designHeight: 1050px;

.full{ width: 100%; height: 100%; }
.center(@width: @designWidth, @height: @designHeight){ width: @width; height: @height; position: absolute; top: 50%; left: 50%; margin: -@height/2 0 0 -@width/2; }
.transform(@val){
  -webkit-transform: @val;
          transform: @val;
}

html{
	-webkit-text-size-adjust: none; 
	.full;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-size: @fs;
	color: #ffffff;
}
body,div,ul,li,dt,dl,ol,p { margin: 0; padding: 0; border: none;}
li { list-style: none; } 
.l{ float: left;}
.r{ float: right;}
.invisible{ visibility: hidden;}
.absolute{ position: absolute;}
.relative{ position: relative;}
.none { display: none;}
.inline-block { display: inline-block;}
.table{ display: table;}
.table-cell{ display: table-cell;}
.va-middle { vertical-align: middle;} 
.opacity-0{ opacity: 0;}
.ellipsis{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
a{ display: block; .full; color: @fs; text-decoration: none;}
.fs20{ font-size: 20px; }
.fs24{ font-size: 24px; }
.fs28{ font-size: 28px; }
.fs32{ font-size: 32px; }
.fs36{ font-size: 36px; }
.fs40{ font-size: 40px; }
.bold{ font-weight: bold;}
.lh40{ line-height: 40px; }
.tc{ text-align: center;}
.border-box{ box-sizing: border-box;}
.margin-auto { margin: 0 auto; }

body {
	font-family:'微软雅黑',Arial; overflow:hidden; background-color: #ae9bed;
	height: 100%; color: #ffffff; width: 100%; overflow: hidden;
}
.refresh{ width: 100px; height: 100px; position: absolute; top: 0; left: 0; z-index: 9999;}

.fullmask{ .full; background-color: rgba(0, 0, 0, 0.7); opacity: 0; position: absolute; z-index: 999;}


/*pageloading*/
.pageloading{
	width:100%;height:100%;position:absolute;z-index:1998;top:0;left:0;
  background-color: #ae9bed;
  background-image: url(../img/loading.jpg);
  background-size: 100% 100%;
  .start{ width: 172px; height: 172px; position: absolute; bottom: 24%; margin-left: -86px; left: 20%; background-image: url(../img/start.png); }
}
.showMsg{
  position: fixed; line-height: 28px; overflow: hidden; opacity: 0;
  width: 100%; bottom: 96px; z-index: 9999; text-align: center; 
  .content{
    color: #eee; background-color: rgba(0, 0, 0, 0.8); display: inline-block;
    margin: 0 auto; padding: 10px 30px; max-width: 480px; border-radius: 4px;
  }
}
.icon{
  width: 56px; height: 93px; background-image: url(../img/icon.png); position: absolute; left: 50%; bottom: 1%; margin-left: -28px;
  z-index: 100;
}

.rotateY{
  .aniName( rotateY );
  .aniDuration( 1s );
  //.aniTimingFunction( cubic-bezier(0.7, 0, 0.3, 1); );
  .aniTimingFunction( ease-in-out );
}
.infinite{
  .aniIterationCount( infinite );
}


/** connecting **/
.connenting{ 
  .full; z-index: 9999; position: absolute; top: 0; left: 0; z-index: 999;
  .connentloading{
    @width: 150px;
    @height: @width;
    .center(@width, @height); background-color: rgba(0, 0, 0, 0.6); border-radius: @width/10;
    .spinner {
      margin: 60px auto 0;
      width: @width*3/4;
      text-align: center;
    }
    .spinner > div {
      width: 30px;
      height: 30px;
      background-color: #008cd7;
      border-radius: 100%;
      display: inline-block;
      .aniName(bouncedelay);
      .aniDuration(1.4s);
      .aniIterationCount(infinite);
      .aniTimingFunction(ease-in-out);
      .aniFillMode(both);
    }
    .spinner .bounce1 {
      .aniDelay(-0.32s);
    }
    .spinner .bounce2 {
      .aniDelay(-0.16s);
    }
  }
}
.bouncedelayFrames(){
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}
@-webkit-keyframes bouncedelay {
  .bouncedelayFrames();
}
@keyframes bouncedelay {
  .bouncedelayFrames();
}



/*** main ***/
.main{
  overflow:hidden; .full;
  position: relative;
  -webkit-perspective: 1000;
  background-image: url(../img/bg.jpg);
  background-position: center center;
  background-size: 100% 100%;
}
.child{
  background-attachment: scroll;
  background-repeat: no-repeat;
  position: absolute;
}
.swiper-container{
  overflow: hidden;
}
.swiper-slide{
  background-color: #f6f8f9;
  position: relative;
  overflow: hidden;
}
.page{
  .center(); 
}

img{ position: absolute; }
.btn { 
  width: 200px; height: 70px;
  line-height: 66px; text-align: center; font-size: 35px; color: #fff; cursor: pointer;
  //background-color: rgba(117, 19, 228, 0.3); border: 2px solid #fff; border-radius: 12px;
  background-image: url(../img/btn.png); background-size: 100% 100%;
}


.questions{
  .poster{ top: 70px; left: 105px; }
  .questionBox{
    width: 540px; position: absolute; top: 400px; left: 50px; opacity: 0;
    .sort{ line-height: 60px; color: #46018d;}
    .question{ 
      position: relative; width: 480px; height: 180px; padding: 25px 0 16px 0; line-height: 45px; margin: 0 auto;
      &::before{
        content: ""; background-image: url(../img/shape1.png); background-position: center center; background-repeat: no-repeat;
        position: absolute; top: 0; left: 0;
        width: 100%; height: 25px; 
      }
      &::after{
        content: ""; background-image: url(../img/shape2.png); background-position: center center; background-repeat: no-repeat;
        position: absolute; bottom: 0; left: 0;
        width: 100%; height: 16px;  
      }
    }

    .answers{
      width: 540px; height: 300px; text-align: center; position: relative; margin-top: 10px;
      .answer{
        width: 155px; height: 55px; text-align: center; line-height: 50px; font-size: 22px;
        margin: 20px 7px; box-sizing: border-box; border: 2px solid #fff;
        background-color: rgba(255, 255, 255, 0.2); border-radius: 8px;
        &.selected{
          background-color: rgba(117, 19, 228, 0.3);
        }
      }
    }
  }
  .submit{
     position: absolute; left: 50%; margin-left: -111px; bottom: 200px; 
  }
  .prev{   
    position: absolute; bottom: 50px; left: 80px; 
    width: 128px; height: 57px; 
    background-image: url(../img/prev.png);
  }  
  .count{   
    position: absolute; bottom: 50px; right: 80px; 
    width: 100px; line-height: 50px; text-align: center;
  }  
}
.result{
  .full; position: absolute; top: 0; left: 0;
  -webkit-overflow-scrolling: touch; overflow: scroll; 
  .result-content{ background-image: url(../img/bg2.jpg); background-repeat: no-repeat; background-position: bottom; min-height: 100%; position: relative;}
  .poster{ top: 95px; left: 184px; }
  .resultBox{
    width: 480px; margin: 0 auto; padding-top: 420px;
    .result-tle{ color: #46018d; line-height: 80px;}
    .desc{ position: relative; padding: 25px 0 16px 0; 
     text-align: justify;
      line-height: 45px;
      
      &::before{
        content: ""; background-image: url(../img/shape1.png); background-position: center center; background-repeat: no-repeat;
        position: absolute; top: 0; left: 0;
        width: 100%; height: 25px; 
      }
      &::after{
        content: ""; background-image: url(../img/shape2.png); background-position: center center; background-repeat: no-repeat;
        position: absolute; bottom: 0; left: 0;
        width: 100%; height: 16px;  
      }
      .content{
      }
      dt:not(:first-child){ margin-top: 40px;}
      dd{ box-sizing: border-box; margin-left: 30px; width: 450px; }
    }
  }
  .operate{
    position: relative; padding-top: 80px;
    &::before{
      content: ""; background-image: url(../img/arrow.png); background-position: center center; background-repeat: no-repeat;
      position: absolute; top: 0; left: 0;
      width: 100%; height: 80px;  
    }
  }
  .btn{ width: auto; padding: 0 35px; margin: 0 auto; display: inline-block; margin: 20px 100px 0;}
}

.preview{
  .full; position: absolute; top: 0; left: 0;
  background-image: url(../img/bg2.jpg); background-size: 100% 100%;
  .poster{ top: 95px; left: 184px; }
  .previewBox{
    margin-top: 420px;
    .tle,.result-tle{ color: #46018d; line-height: 80px;}
    .desc{ 
      position: relative; padding: 100px 0 0px 0; 
      -webkit-overflow-scrolling: touch;
      overflow: scroll; text-align: justify;
      line-height: 45px;
      
      &::before{
        content: ""; background-image: url(../img/shape2.png); background-position: center center; background-repeat: no-repeat;
        position: absolute; top: 0; left: 0;
        width: 100%; height: 25px; 
      }
      &::after{
        content: ""; background-image: url(../img/arrow.png); background-position: center center; background-repeat: no-repeat;
        position: absolute; top: 50px; left: 0;
        width: 100%; height: 47px;  
      }

      .tips{ margin-top: 20px;}
    }

    .btn{ width: 420px; margin: 20px auto 0;}
  }
}

.userinfo{
  .full; position: absolute; top: 0; left: 0;
  background-image: url(../img/bg2.jpg); background-size: 100% 100%;
  .history{
    width: 500px; margin: 140px auto 0; padding: 25px 0 16px 0; position: relative;
    .tle{ color: #fff; font-size: 40px; font-weight: bold; line-height: 60px;}
    .order-list{ height: 480px;
      background-color: rgba(255, 255, 255, 0.1);
      -webkit-overflow-scrolling: touch;
      overflow: scroll; text-align: justify;
      li{
        margin: 25px auto; .border-box; color: #fff; font-size: 30px; padding: 0 10px;
        width: 420px; line-height: 90px; background-color: #ae4e49;
        position: relative;
        &.wxpay,&.code{
          background-color: #8f71d6;
          &::before{
            line-height: 26px; width: 40px; height: 100%; background-color: #a4dd6c; .border-box; padding: 6px;
            position: absolute; right: -20px; top: 0; font-size: 20px; 
          }
        }
        &.wxpay::before{
          content: "已支付";
        }
        &.code::before{
          content: "已兑换";
        }
        &.tips{
          background-color: rgba(255, 255, 255, 0); text-align: center; line-height: 50px;
        }
      }
    }
    &::before{
      content: ""; background-image: url(../img/shape1.png); background-position: center center; background-repeat: no-repeat;
      position: absolute; top: 0; left: 0;
      width: 100%; height: 25px; 
    }
    &::after{
      content: ""; background-image: url(../img/shape2.png); background-position: center center; background-repeat: no-repeat;
      position: absolute; bottom: 0; left: 0;
      width: 100%; height: 16px;  
    }
  }
  .qrcode{ width: 280px; margin: 10px 180px 0;}
}

.user-center,.back-test{ 
  width: 199px; height: 79px;
  position: absolute; top: 50px; right: 25px; z-index: 99; 
  .transform(scale(0.8));
}
.user-center{
  background-image: url(../img/user-center.png);
}
.back-test{
  background-image: url(../img/back-test.png);
}


input, select{
  width: 90%; padding: 0 5%; height: 100%; border: none; background-color: transparent; -webkit-appearance: none; -webkit-tap-highlight-color:rgba(255,255,255,0);
  font-size: 32px; outline: none;
}
select{ width: 100%;}

.bounceBox{ z-index: 1000; position: absolute; .full; }
.close{}
.alert_layer{  
  .full; position: absolute;
  .alertBox{ 
    .center(508px, 744px); background-image: url(../img/alert.png); overflow: hidden;
    &.none{ display: none;}
    .close{ width: 350px; height: 70px; position: absolute; bottom: 100px; left: 73px;}
    .contentBox{ display: table; width: 440px; height: 280px; margin: 282px 0 0 30px;}
    .table-cell{
      display: table-cell; vertical-align: middle; color: #005d8e;
      font-size: 28px; line-height: 40px; text-align: center;
      p{ font-size: 38px; line-height: 75px; }
    }
    .lucky{ bottom: 24px; left: 159px; color: #000; font-size: 28px;}
  }
}

.close{  
  width: 50px; height: 50px; z-index: 99; right: -35px; top: -35px;
  line-height: 50px; font-size: 40px; box-sizing: border-box; text-align: center;
  border-radius: 50%; background-color: #fff; color: #000;
}
.layer-box{
  border-radius: 30px; position: absolute; top: 50%; left: 50%;
  //background-image: -webkit-linear-gradient(to bottom left, #fcc165, #ae9bed);
  //background-image:         linear-gradient(to bottom left, #fcc165, #ae9bed);
}
.exchange-layer{
  .layer-box{
    width: 540px; height: 200px; margin: -100px 0 0 -270px;
    background-image: url(../img/bg.jpg); background-size: 100% auto;
    .exchange-form{ vertical-align: middle; }
    .info-item{ border: 2px solid #f2769b; width: 480px; height: 77px; margin: 0 auto; background-color: #fff; padding-left: 50px;
      &:before{
        content: ""; position: absolute; width: 18px; height: 18px; border-width: 3px; border-style: solid; border-radius: 50%;
        left: 17px; top: 25px;
      }
      &:nth-child(1):before{border-color: #911482; }
      input{
        &::-webkit-input-placeholder{ color: #f2769b; }
      }
    }
  }
  .btn-submit{ position: absolute; left: 220px; top: 750px; background-color: #ab9bf3;}
}


.icon_audio{
  width: 50px; height: 50px; position:absolute; z-index: 99; top:5%; left:6%; 
}
.icon_audio .earphone{
  width: 100%; height: 100%;
  position: absolute; top: 0;left: 0;
  background: url("../img/music_off.png") no-repeat; background-size: 100% 100%; 
}
.icon_audio.on .earphone{
  width: 100%; height: 100%;
  background: url("../img/music_on.png") no-repeat; background-size: 100% 100%; 
  -webkit-animation:rotate 1.4s linear infinite;
          animation:rotate 1.4s linear infinite; 
}


/*----------animation------------*/
.aniName(@name){
  -webkit-animation-name: @name;
          animation-name: @name;
}
.aniDuration(@d){
  -webkit-animation-duration: @d;
          animation-duration: @d;
}
.aniDelay(@d){
  -webkit-animation-delay: @d;
          animation-delay: @d;
}
.aniFillMode(@m){
  -webkit-animation-fill-mode: @m;
          animation-fill-mode: @m;
}
.aniTimingFunction(@f){
          animation-timing-function: @f;  
  -webkit-animation-timing-function: @f;
}
.aniIterationCount(@i: infinite){
          animation-iteration-count: @i;
  -webkit-animation-iteration-count: @i;
}
.animation(@str){ 
  -webkit-animation: @str;
          animation: @str;
}
.transformOrigin(@x: center, @y: center){
          transform-origin: @x @y;
  -webkit-transform-origin: @x @y;
}
.transform(@trans){
          transform: @trans;
  -webkit-transform: @trans;
}
.transition( @trans ){
  -webkit-transition: @trans;
          transition: @trans;
}


/*------- animation-duration  ------*/
.animated.bounceIn,.animated.bounceOut,.animated.fadeInDown,.animated.fadeOutUp{
  .aniDuration(0.5s);
} 
.animated.bounceInDown{
  .aniDuration(0.6s);
}

.active{
  .tle{
    .aniDuration(.8s);
    .aniDelay(0.4s);
    .aniFillMode(both);
    .aniName( bounceInRight );
  }
  .seven{
    .aniDuration(.8s);
    .aniDelay(.8s);
    .aniFillMode(both);
    .aniName( bounceIn );
  }
  .tree{
    .aniDuration(.8s);
    .aniDelay(1.3s);
    .aniFillMode(both);
    .aniName( bounceInDown );
  }
  .man{
    .aniDuration(.6s);
    .aniDelay(1.2s);
    .aniFillMode(both);
    .aniName( bounceInUp );
  }
}


.bounceBox.fadeInDown{
  .aniName(fadeInDown);
  .aniFillMode(both);
}
.bounceBox.fadeOutUp {
  .aniName(fadeOutUp);
  .aniFillMode(both);
}


/*----------keyframes------------*/
.arrowInUpFrames(){
  0%{   opacity:0;  -webkit-transform:translate(0,20px)}
  70%{  opacity:1;  -webkit-transform:translate(0,0)}
  100%{ opacity:0;  -webkit-transform:translate(0,-25px)}
}
@-webkit-keyframes arrowInUp {
  .arrowInUpFrames();
}
@keyframes arrowInUp {
  .arrowInUpFrames();
}

.bounceFrames(){
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
            transform: translate3d(0,-4px,0);
  }
}
@-webkit-keyframes bounce {
  .bounceFrames;
}
@keyframes bounce {
  .bounceFrames;
}

.fadeInFrames(){
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-webkit-keyframes fadeIn {
  .fadeInFrames;
}
@keyframes fadeIn {
  .fadeInFrames;
}

.fadeInDownFrames(){
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -80px);
            transform: translate(0, -80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes fadeInDown {
  .fadeInDownFrames;
}
@keyframes fadeInDown {
  .fadeInDownFrames;
}

.fadeOutUpFrames(){
  0% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, -80px);
            transform: translate(0, -80px);
  }
}
@-webkit-keyframes fadeOutUp {
  .fadeOutUpFrames;
}
@keyframes fadeOutUp {
  .fadeOutUpFrames;
}

.rotateFrames(){
  0% {
    .transform( rotate(0deg) );
  }
  100% {
    .transform( rotate(-360deg) );
  }
}
@-webkit-keyframes rotate { .rotateFrames; }
@keyframes rotate { .rotateFrames; }

.rotateYFrames(){
  0% {
    .transform( rotateY(0deg) );
  }
  100% {
    .transform( rotateY(-360deg) );
  }
}
@-webkit-keyframes rotateY { .rotateYFrames; }
@keyframes rotateY { .rotateYFrames; }


.flashFrames(){
  0%, 15%, 30%, 45%, 60%, 100% {
    opacity: 1;
  }
  16%, 29%, 46%, 59% {
    opacity: 0;
  }
}
@-webkit-keyframes flash { .flashFrames; }
@keyframes flash { .flashFrames; }
.flash {
  .aniName( flash );
}